extends ../layouts/app

block content
  .container
    .card
      .card-body
        .d-flex.align-items-center.mb-1
          h4.card-title= ticket.question
          .ml-auto
            h5.card-title  #{passed}/#{total}
        form(action='/exam/answer', method='post')
          .form-group
            input.form-control.form-control-lg(
              type='text'
              name='answer'
              class=('answer' in errors) ? 'is-invalid' : ''
              value='',
              autofocus,
              autocomplete='off'
            )
            if 'answer' in errors
              .invalid-feedback= errors.answer
          .form-group.mb-0
            button.btn.btn-primary(type='submit') Send
