nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark

  .container

    a.navbar-brand(href='/') English

    button.navbar-toggler(
      type='button',
      data-toggle='collapse',
      data-target='#header-nav',
      aria-controls='header-nav',
      aria-expanded='false',
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon

    #header-nav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Home 
        li.nav-item
          a.nav-link(href='/tickets') Tickets
        li.nav-item
          a.nav-link(href='/notes') Notes

      ul.navbar-nav
        if isGuest
          li.nav-item
            a.nav-link(href='/register') Register
          li.nav-item
            a.nav-link(href='/login') Login
        else
          li.nav-item
            a.nav-link(href='/logout') Logout
